@{
    ViewData["Title"] = "Home Page";
}
<div id="linkHome"></div>
<!-- Header -->
<header class="header pt-7" >
	<div class="container-xl">
		<div class="row">
			<div class="col-md-6">
				<div class="image-container mb-5 px-4">					
					<img src="~/img/img-portada1.jpg" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-md-6">
				<div class="text-container p-4 d-flex flex-column justify-content-center h-52 mb-5">
					<h1 class="display-3 text-danger">Fabricantes de quemadores y parrillas</h1>
					<p class="lead text-secondary">
						-Numero uno en calidad y precio.-
					</p>				
					<a class="btn btn-outline-secondary text-uppercase" href="#conoceMas">Conoce más</a>
				</div>
			</div>
		</div>
	</div>
</header>

<section class="testimonial bg-light text-secondary p-5">
	<div class="container">		
		<p class="display-5 text-center">
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur minima similique nostrum officia magnam
			vitae inventore aliquam ipsa ea accusantium.
		</p>
		<p class="text-center lead pt-2">- Testimonials</p>
	</div>
</section>

<section id="conoceMas" class="testimonial bg-danger text-white p-5">
	<div class="container">
		<h1 class="display-3 text-center">Sobre nosotros</h1>
		<p class="lead display-6">
			Somos una empresa nacional con 20 años de experiencia fabricando quemadores, estufones y parrillas, siempre viendo hacia el futuro.
			Innovamos dia con dia nuestros productos para ofrecer una excelente calidad y el mejor precio del mercado, a fin de poder abastecer las diferentes necesidades.
		</p>
		<p class="text-center lead pt-2">- NANGUER</p>
	</div>
</section>
